<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input 
      type="text" 
      matInput [formControl]="nameFormControl" 
      [errorStateMatcher]="matcher"
      placeholder="Oleksandr">
      
      <mat-error *ngIf="nameFormControl.hasError('minLength') && !nameFormControl.hasError('required')">
        Please enter a valid name address
      </mat-error>
      <mat-error *ngIf="nameFormControl.hasError('required')">
        name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
  