<div class="example-container">
  <form [formGroup]="options">
    <mat-checkbox 
    class="checkbox"
    [formControl]="hideRequiredControl"
    >Is Interim Trigger?</mat-checkbox>

    <mat-form-field 
    class="optionfild"
    appearance="fill"
        [hideRequiredMarker]="hideRequiredControl.value">
      <mat-select >
        <mat-option> Name 1 </mat-option>
        <mat-option> Name 2 </mat-option>
      </mat-select>
      <mat-label>Interim Trigger Name</mat-label>
    </mat-form-field>
  </form>
</div>
